#!/bin/bash

# This script monitors if a laptop is connected to AC or not

path={{ path }}
log_path={{ log_path }}

log() {
  while [[ $# -gt 0 ]]; do
    echo "$(date) | $1" >> $log_path
    shift
  done
}
{% set phone_number_string = phone_number|string %}
send_whatsapp() {
  log "Sending a whatsapp alert to: *******{{ phone_number_string[-4:] }}"
  if [[ $1 == "AC" ]]; then
    curl_out=$(curl -s "https://api.callmebot.com/whatsapp.php?phone={{ phone_number }}&text=\*LUPSA+Notification\*%0APower+Restored&apikey={{ api_key }}")
    check_whatsapp "$curl_out"
  elif [[ $1 == "battery" ]]; then
    curl_out=$(curl -s "https://api.callmebot.com/whatsapp.php?phone={{ phone_number }}&text=\*LUPSA+Notification\*%0AAC+Power+Disconnected\!&apikey={{ api_key }}")
    check_whatsapp "$curl_out"
  else
    log "WARNING - Unknown option used for send_whatsapp() function"
  fi
}

# This function checks the curl output to ensure the Whatsapp message was sent
check_whatsapp() {
  # Obscure phone number
  filtered=$(sed 's/+\([0-9]\{8\}\)/+********/g' <<< "$1")
  if [[ $filtered == *"You will receive it in a few seconds"* ]]; then
    log "ALERT - Successfully sent Whatsapp: $filtered"
  else
    log "ERROR - Unexpected output when attempting to send message: $filtered"
  fi
}

check() {
  if [[ $last_state == "AC" ]] || ! grep -q "Laptop is running on:" $log_path && [[ $on_ac == "0" ]] ; then
    log "Laptop is running on: battery power"
    send_whatsapp "battery"
  elif [[ $last_state == "battery" ]] || ! grep -q "Laptop is running on:" $log_path && [[ $on_ac == "1" ]]; then
    log "Laptop is running on: AC"
    send_whatsapp "AC"
  fi
}

log "Starting LUPSA service ..."

# Check if the power supply path exists and is readable
if [ ! -e "$path" ]; then
  log "ERROR - Path ($path) does not exist !"
  exit 1
elif [ ! -r "$path" ] ; then
  log "ERROR - Permissions issue: Unable to read $path!"
  exit 1
fi

# Check if the log path exists and is writable
if [ ! -e "$log_path" ]; then
  log "ERROR - Log path ($log_path) does not exist !"
  exit 1
elif [ ! -w "$log_path" ] ; then
  log "ERROR - Permissions issue: Unable to write to $log_path!"
  exit 1
fi

log "Started"

while true; do
  on_ac=$(cat $path)
  last_state=$(tac $log_path | grep -m 1 "Laptop is running on:" | awk '{print $13}')
  check
  sleep 3 # Change this to 1 after testing
done
